<div class="home-container">
  <header>
    <p-menubar [model]="items" />
  </header>
  <main> <!-- Substituído body por main para melhor semântica HTML -->
    <div class="home-card">
      <div class="form-container">
        <div [ngSwitch]="activeCard">
          <div *ngSwitchCase="'infoUser'" class="card-content">
            <p>Usuário:</p>
          </div>
          <div *ngSwitchCase="'about'" class="card-content">
            <h3>Sobre o Register Sistem</h3>
            <p>Sistema web single page de cadastro de usuário</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
