<div class="home-container">
  <div class="home-card">
    <h2 class="home-title">Login</h2>
    <div class="form-container" >
      <div class="input-group">
        <input type="text" pInputText [(ngModel)]="nome" placeholder="Digite seu Nome" class="form-input">
        <p-inputMask styleClass="form-input" mask="999.999.999-99" [(ngModel)]="cpf" placeholder="Digite seu CPF"></p-inputMask>
        <p-inputMask styleClass="primelabels" [(ngModel)]="nascimento" mask="99/99/9999" placeholder="Digite seu Nascimento" slotChar="dd/mm/yyyy"></p-inputMask>
        <p-password styleClass="p-password-input" [(ngModel)]="password" [toggleMask]="true" placeholder="Digite sua Senha" />
        <p-password styleClass="p-password-input" [(ngModel)]="confirmPassword" [toggleMask]="true" placeholder="Confirme sua Senha" />
      </div>
      <div class="button-group">
        <p-toast></p-toast>
        <p-button
          label="Login"
          icon="pi pi-id-card"
          styleClass="button-return-login"
          (onClick)="returnLogin()">
        </p-button>

        <p-button
          label="Register"
          icon="pi pi-check"
          styleClass="button-register"
          (onClick)="onRegister()">
        </p-button>

        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="button-cancel"
          (onClick)="cancelRegister()">
        </p-button>
      </div>
    </div>
  </div>
</div>
