<div class="register-container">
  <div class="register-card">
    <h2 class="register-title">Register User</h2>
    <div class="form-container">
      <div class="input-group">
        <!-- Grupo Nome e CPF -->
        <div class="input-row">
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="nome" placeholder="Digite seu Nome" class="form-input">
          </div>
          <div class="input-field">
            <p-inputMask styleClass="form-input" mask="999.999.999-99" [(ngModel)]="cpf" placeholder="Digite seu CPF"></p-inputMask>
          </div>
        </div>
        <!-- Grupo Nascimento, Telefone e Email -->
        <div class="input-row">
          <div class="input-field">
            <p-inputMask styleClass="primelabels" [(ngModel)]="nascimento" mask="99/99/9999" placeholder="Digite seu Nascimento" slotChar="dd/mm/yyyy"></p-inputMask>
          </div>
          <div class="input-field">
            <p-inputMask styleClass="form-input" mask="(99)9 9999-9999" [(ngModel)]="telefone" placeholder="Digite seu Telefone"></p-inputMask>
          </div>
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="email" placeholder="Digite seu e-mail" class="form-input">
          </div>
        </div>
        <!-- Senhas -->
        <div class="input-row">
          <div class="input-field">
            <p-password styleClass="p-password-input" [(ngModel)]="password" [toggleMask]="true" placeholder="Digite sua Senha" />
          </div>
          <div class="input-field">
            <p-password styleClass="p-password-input" [(ngModel)]="confirmPassword" [toggleMask]="true" placeholder="Confirme sua Senha" />
          </div>
        </div>
        <!-- Endereço -->
        <div class="input-row">
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="address" placeholder="Digite seu Endereço" class="form-input">
          </div>
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="addressComplement" placeholder="Digite o complemento do endereço" class="form-input">
          </div>
        </div>
        <div class="input-row">
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="cidade" placeholder="Digite sua Cidade" class="form-input">
          </div>
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="estado" placeholder="Digite seu Estado" class="form-input">
          </div>
          <div class="input-field">
            <input type="text" pInputText [(ngModel)]="cep" placeholder="Digite seu CEP" class="form-input">
          </div>
        </div>
      </div>
      <div class="button-group">
        <p-toast></p-toast>
        <p-button
          label="Login"
          icon="pi pi-id-card"
          styleClass="button-return-login"
          (onClick)="returnLogin()">
        </p-button>

        <p-button
          label="Register"
          icon="pi pi-check"
          styleClass="button-register"
          (onClick)="onRegister()">
        </p-button>

        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="button-cancel"
          (onClick)="cancelRegister()">
        </p-button>
      </div>
    </div>
  </div>
</div>
