<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Login</h2>
    <div class="form-container" >
      <div class="input-group">
        <p-inputMask
          styleClass="form-input"
          mask="999.999.999-99"
          [(ngModel)]="username"
          placeholder="Digite seu CPF">
        </p-inputMask>

        <input
          type="password"
          pInputText
          [(ngModel)]="password"
          placeholder="Digite sua Senha"
          class="form-input">
      </div>

      <div class="button-group">
        <p-toast></p-toast>
        <p-button
          label="Login"
          icon="pi pi-check"
          styleClass="p-button-primary form-button">
        </p-button>

        <p-button
          label="Cadastrar"
          icon="pi pi-user-plus"
          styleClass="p-button-secondary form-button">
        </p-button>
      </div>
    </div>
  </div>
</div>
